.git/
.venv/
venv/
**/__pycache__/
**/*.py[cod]
.pytest_cache/
.coverage
htmlcov/
build/
dist/
**/*.egg-info/
.env
.env.*
artifacts/
tests/
examples/
poetry.toml
.flake8
.pre-commit-config.yaml
data/*
!data/train.csv
